body{
    background-color: #939393;

}


h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

h2{
    margin-left: 80px;
    color: brown;

}

h3{
    
    font-size: 12px;

}

img{

    width: 300px;
    display: block;
    margin: 0 auto;
}

p{
    font-family: Arial;
    margin-left: 100px;
}